.card-container {
  display: flex;
  flex-flow: column nowrap;
  
  .group-list {
    border: 1px solid #bbb;
    flex-basis: 100%;
    margin-right: 0;
    min-height: 0;
    padding: 0 24px;
   }
}

.view-content-by-user-taxonomy {
  .views-row {
    margin-bottom: 20px;
  }
  .pager-nav {
    clear: both;
  }
}


@media (min-width: $screen-sm-min) {
  .card-container {
    flex-flow: row wrap;
    justify-content: flex-start;
    
    .group-list {
      margin-right: 1%;
      min-height: 209px;
      flex-basis: 32.666%;
      
      &:last-of-type {
        margin-right: 0;
      }
    }
  }  
}