{#
/**
 * @file
 * USWDS theme implementation to display a single page.
 */
#}

{% include '@qtso_uswds/includes/header.html.twig' %}

<section class="usa-section uswds-middle-section {{ main_classes }}">
  <div class="usa-grid">
    <div class="usa-width-full">
      {{ page.breadcrumb }}

      {{ page.highlighted }}

      {% if page.help|render|trim %}
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <p class="usa-alert-text">
            {{ page.help }}
          </p>
        </div>
      </div>
      {% endif %}

    </div>
  </div>

  <div class="uswds-main-content-wrapper {% if edge_to_edge == false %}usa-grid{% endif %}">
    <a id="main-content" tabindex="-1"></a>
    <h2 class="iam-title">I am a...</h2>
    <div class="card-container usa-grid">
      
      <div class="group-list usa-width-one-third">
        <h3><a href="/providers/">Provider</a></h3>
        {{ drupal_view('taxonomy_menus', 'block_2') }}
      </div>
      <div class="group-list usa-width-one-third">
        <h3><a href="/vendors">Vendor</a></h3>
        {{ drupal_view('taxonomy_menus', 'block_3') }}
      </div>
      <div class="group-list usa-width-one-third">
        <h3><a href="/cms-and-state-employees">CMS or State Employee</a></h3>
        <div class="item-list">
          <ul>
            <li><a href="/state-and-regional-employees/cms" hreflang="en">CMS (Regional/Central)</a></li>
            <li><a href="/cms-and-state-employees/state-agencies" hreflang="en">State Agency</a></li>
          </ul>
        </div>
      </div>
    
    </div>
        
    <section id="news" class="usa-grid">
      <div class="usa-width-one-whole">
        <h2>News and Announcements</h2>
        {{ drupal_view('content_by_user_taxonomy', 'block_1') }}
      </div>
    </section>
  </div>
</section>

<footer class="{{ footer_classes }}" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>

  {% if display_footer_primary %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav {{ footer_menu_width }}">

        {% if page.footer_menu %}
        {{ page.footer_menu }}
        {% endif %}

      </nav>

      {% if footer_slim and (phone or email) %}
      <div class="usa-width-one-third">

        {% if phone %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
        </div>
        {% endif %}

        {% if email %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="mailto:{{ email }}">{{ email }}</a></p>
        </div>
        {% endif %}

      </div>
      {% endif %}

      {% if page.footer %}
      <div class="usa-grid">
        {{ page.footer }}
      </div>
      {% endif %}

    </div>
  </div>
  {% endif %}

  {% if display_footer_secondary %}
  <div class="usa-footer-secondary_section">

    {% if display_footer_agency %}
    <div class="usa-grid">
      <div class="usa-footer-logo
        {% if not footer_slim %}usa-width-one-half{% endif %}">

        {% if footer_agency_url %}
        <a href="{{ footer_agency_url }}">
        {% endif %}

        {% if footer_agency_logo %}
        <img class="{{ footer_agency_logo_class }}" src="{{ footer_agency_logo }}" alt="{{ 'Agency logo'|t }}">
        {% endif %}

        {% if footer_agency_name %}
        <h3 class="{{ footer_agency_heading_class }}">{{ footer_agency_name }}</h3>
        {% endif %}

        {% if footer_agency_url %}
        </a>
        {% endif %}

      </div>

      {% if not footer_slim %}
      <div class="usa-footer-contact-links usa-width-one-half">

        {% if facebook %}
        <a class="usa-link-facebook" href="{{ facebook }}">
          <span>Facebook</span>
        </a>
        {% endif %}

        {% if twitter %}
        <a class="usa-link-twitter" href="{{ twitter }}">
          <span>Twitter</span>
        </a>
        {% endif %}

        {% if youtube %}
        <a class="usa-link-youtube" href="{{ youtube }}">
          <span>YouTube</span>
        </a>
        {% endif %}

        {% if rss %}
        <a class="usa-link-rss" href="{{ rss }}">
          <span>RSS</span>
        </a>
        {% endif %}

        <address>

          {% if contact_center %}
          <h3 class="usa-footer-contact-heading">{{ contact_center }}</h3>
          {% endif %}

          {% if phone %}
          <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
          {% endif %}

          {% if email %}
          <a href="mailto:{{ email }}">{{ email }}</a>
          {% endif %}

        </address>
      </div>
      {% endif %}

    </div>
    {% endif %}

    {% if page.footer_secondary %}
    <div class="usa-grid">
      {{ page.footer_secondary }}
    </div>
    {% endif %}

  </div>
  {% endif %}

</footer>
