<footer class="footer">
  <div class="container">
    <div></div>
    <div class="footer__nav row">
    </div>
    <div class="textalign--center margin--top fontsize--small">Copy Right Info Goes Here</div>
  </div>
</footer>