{% include '@qtso/includes/header.html.twig' %}
<section class="content">
  <div class="container">
    {{ page.breadcrumb }}
    {{ page.page_title }}
    
    <div class="row">
    {% if page.right_menu %}
      <div class="col-sm-9">
        {{ page.top_content }}
      </div>
      <div class="col-sm-3">
        {{ page.right_menu }}
      </div>
    {% else %}
      <div class="col-sm-12">
        {{ page.top_content }}
      </div>
    {% endif %}
    </div>
    {{ page.page_subtitle }}
    {{ page.content }}
  </div>
</section>
{% include '@qtso/includes/footer.html.twig' %}


