{# Header #}
      {% if page.header %}
        {% block header %}
        <header class="container" role="banner">
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        </header>
        {% endblock %}
      {% endif %}


{# Navbar #}
  <nav id="navbar" class="container">
      <div class="nav-list">
        <h3><a href="/drupal/providers">Providers</a></h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('taxonomy_menus', 'block_2') }}
        </div>
      </div>
      <div class="nav-list">
        <h3><a href="/drupal/vendors">Vendors</a></h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('taxonomy_menus', 'block_3') }}
        </div>
      </div>
      <div class="nav-list">
        <h3><a href="/drupal/state-and-regional-employees">State/Regional Employees</a></h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('taxonomy_menus', 'block_4') }}
        </div>
      </div>
      
      <div class="nav-list">
        <h3>Manuals &amp; Guides</h3>
      </div>
      <div class="nav-list">
        <h3>e-University</h3>
      </div>
      <div class="nav-list">
        <h3><a href="/drupal/software">Software</a></h3>
      </div>
  </nav>