{# Header #}
      {% if page.header %}
        {% block header %}
        <header class="container" role="banner">
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        </header>
        {% endblock %}
      {% endif %}


{# Navbar #}
  <nav id="navbar" class="container">
      <div class="nav-list">
        <h3>Providers</h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('user_group_taxonomy', 'block_1') }}
        </div>
      </div>
       <div class="nav-list">
        <h3>Vendors</h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('user_group_taxonomy', 'block_2') }}
        </div>
      </div>
       <div class="nav-list">
        <h3>State/Regional Offices</h3>
        <div class="drop-menu sr-only">
          {{ drupal_view('user_group_taxonomy', 'block_3') }}
        </div>
      </div>
      <div class="nav-list">
        <h3>Tools &amp; Guides</h3>
      </div>
      <div class="nav-list">
        <h3>e-University</h3>
      </div>
      <div class="nav-list">
        <h3>Software</h3>
      </div>
  </nav>