.alert {
  padding: 1em;
  border-radius: 4px;
  background-color: rgba(152, 27, 30, .18);
  color: $color-red-darkest;
}
.success-message {
  background-color: $color-blue;
  color: $color-white;
  
  &.fontsize--large {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}