.color--gray {
  color: $color-gray;
  &.margin--small {
    margin-bottom: 0.5em;
    &.fontsize--small.fontstyle--italic.margin--none {
      margin-bottom: 0em;
    }
  }
  &.fontstyle--italic.margin--bottom {
    margin-bottom: 1em;
  }
}