.div-block {
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
}
.div-block-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-3 {
  padding: 1.5em;
}
.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}