p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

a {
  color: $color-blue;
  text-decoration: none;
}

a:hover {
  color: $color-blue-darker;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.2em;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: $font-weight-normal;
}

.hr {
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  background-color: $color-gray-light;
}