.faq {
  display: block;
  margin-bottom: 1em;
}

.faq__answer {
  position: static;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: $color-white;
  
  &.w--open {
    padding-bottom: 0.5em;
  }
  
  &.fontsize--small.w--open {
    padding: 1.5em 1.5em 1em;
    border-style: none solid solid;
    border-width: 1px;
    border-color: $color-gray-light;
  }
}

.faq__dropdown {
  display: block;
  overflow: hidden;
  padding: 1.5em 3em 1.5em 1em;
  border: 1px solid $color-gray-light;
  background-image: url("../assets/img/Icon_Close.svg");
  background-position: 98% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 18px;
  
  &:hover {
    background-color: $color-gray-lightest;
  }
  
  &.w--open {
    overflow: hidden;
    border-bottom-style: none;
    background-color: $color-blue;
    background-image: url("../assets/img/Icon_Open.svg");
    background-size: 18px;
    color: $color-white;
  }
}