@media (max-width: 991px) {
  /* search */
  .search {
    margin-top: 0em;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(17, 46, 81, .5);
    
    &.mobileonly {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    
    &.search.search__results {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 0em;
      border-bottom-style: none;
    }
  }
  
  /* nav */
  .nav__dropdown--item {
    padding-left: 2em;
    float: none;
    border-bottom: 1px solid rgba(17, 46, 81, .35);
    &:hover {
      background-color: $color-blue-darkest;
    }
    &.w--open {
      font-weight: 700;
    }
    &.float--right {
      float: none;
    }
    &.float--right.nav__login {
      padding-left: 2em;
      background-position: 96% 50%;
    }
  }
  
  .nav-menu {
    position: absolute;
    z-index: 200;
    overflow: scroll;
    max-height: 100vh;
    background-color: $color-blue-darker;
    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, .49);
  }
  .navbar {
    position: relative;
    z-index: 1000;
    background-color: $color-white;
  }
  
  .nav_menu-button {
    padding: 0.45em;
    float: right;
    color: $color-cool-blue;
    &:hover {
      background-color: $color-cool-blue;
      color: $color-white;
    }
    &.w--open {
      background-color: $color-cool-blue;
    }
  }
  .navigation-icons {
    font-size: 46px;
  }
  
  .sitenav__navitem {
    float: none;
  }
  .nav__dropdown {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: $color-white;
    &.w--open {
      display: block;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
  .nav__dropdown--col {
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em 0em 1em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-top: 1px solid $color-gray-lightest;
    border-left-style: none;
    
    &.border--none {
      padding-top: 0em;
      border-style: none;
    }
  }
  .nav__dropdown--icon {
    right: 5px;
    display: block;
    color: $color-white;
    font-size: 24px;
  }
  
  /*featured */
  .featured-content {
    width: 100%;
    min-height: auto;
    margin-bottom: 1em;
  }
  
  /* flex */
  .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  /* header */
  .header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 5000;
    padding-bottom: 0px;
  }
  
  .header__logo--text {
    line-height: 28px;
    
    &.w--current {
      font-size: 24px;
    }
  }
  .header__midsection {
    display: none;
  }
  
  /* containiner */
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
  .container.nav__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: inset 0 -3px 0 0 $color-cool-blue;
  }
  
  /* list */
  .list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-item-2 {
    width: 50%;
    padding-right: 2em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  
  /* mobileonly */
  .mobileonly.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /*content */
  .content {
    padding-top: 5.5em;
  }
  .content--left {
    margin-bottom: 2em;
    padding-right: 0em;
  }
  
  /*footer */
  .footer__nav {
    margin-top: 1em;
  }
  .footer__nav--item {
    display: inline-block;
    width: 50%;
    margin-right: 0em;
    margin-bottom: 0.5em;
    padding-left: 10px;
  }
  
  
  /* thumbnail */
  .thumbnail {
    margin-bottom: 1em;
  }
  
  .thumbnail__image {
    width: 100%;
    height: 150px;
  }
  
  /* tabs */
  .tabs {
    box-shadow: inset 4px 0 0 0 $color-gray-lightest;
  }
  .tabs__item {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    text-align: left;
    
    &:hover {
      box-shadow: inset 4px 0 0 0 $color-cool-blue;
    }
    
    &.w--current {
      box-shadow: inset 4px 0 0 0 rgba(0, 0, 0, .5);
    }
  }
  
  /* card */
  .card.flexcard {
    &.outline {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }
    &.flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      
      &.moo {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
  }
}