nav#navbar {
  display: flex;
  flex-flow: column nowrap;
  
  
  .nav-list{
    flex-basis: 100%;
    
    
    .cat-title {
      padding: 5px;
      width: 100%;
      color: $color-white;
      display: block;
      text-align: center;
    }
    
    .drop-menu {
      width: 100%;
      background-color: $color-primary-darkest;
      padding: 20px;
      z-index: 0;
      width: 100%;
      top: 0;
      
      section {
        float: left;
        margin-right: 30px;
        overflow: auto;
      }
      
      ul {
        list-style-type: none; 
        margin: 0;
      }
      
      a {
        color: $color-white;
        
        &:hover {
          color: $color-white;
        }
        &:visited {
          color: $color-white;
        }
      }
    }
  }
} 

@media (min-width: 951px) {
  nav#navbar {
    flex-flow: row wrap;
    justify-content: flex-start;
    
    .nav-list{
      flex-basis: 16%;
      
      
      &:nth-of-type(3){
        flex-basis: 20%;
      }

      
      .cat-title{
        &:hover {
          background-color: $color-primary-darkest;
        }
      }
      .drop-menu {
        border-top:none;
        padding: 20px;
        margin: 0 auto;
      }
      
      .showDrop {
        position: absolute;
        z-index: 9999;
        left: 0;
      }
    }
  } 
}