.pagination {
  margin-top: 2em;
  text-align: center;
  
  &.alt {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    text-align: left;
  }
}

.pagination__number {
  display: inline-block;
  width: 32px;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  border-radius: 3px;
  color: $color-blue;
  text-align: center;
  
  &:hover {
    background-color: $color-gray-lightest;
    color: $color-gray;
    text-decoration: none;
  }
  
  &.pagination__number--active {
    background-color: $color-blue;
    color: $color-white;
    font-weight: $font-weight-bold;
  }
}

.pagination__actions {
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  color: $color-cool-blue;
  font-weight: $font-weight-bold;
}