.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.25em;
  
  &.mobileonly {
    display: none;
  }
  
  &.search__results {
    margin-top: 0em;
    font-style: normal;
  }
}

.search__field {
  width: 75%;
  height: 45px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: $color-gray-light;
  font-size: 18px;

  &:focus {
    border-color: $color-cool-blue;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .19);
  }
  
  &::-webkit-input-placeholder {
    color: rgba(33, 33, 33, .5);
  }
  
  &:-ms-input-placeholder {
    color: rgba(33, 33, 33, .5);
  }
  
  &::placeholder {
    color: rgba(33, 33, 33, .5);
  }
}

.search__button {
  padding: 0.65em 1.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: $color-blue;
  font-weight: $font-weight-bold;
  
  &:hover {
    background-color: $color-blue-darkest;
  }
}

.search__results {
  margin-top: 1em;
  color: $color-gray;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}