ul.tabs {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 -4px 0 0 $color-gray-lightest;

  li {
    margin-right: 1.5em;
    
    &:hover {
      box-shadow: inset 0 -4px 0 0 $color-cool-blue;
    }
    
    &.is-active {
      background-color: $color-white !important;
      box-shadow: inset 0 -4px 0 0 $color-cool-blue;
    }
    
    a {
      
      padding: 0em 0em 1em 0px;
      background-color: transparent;
      color: #0071bc;
      font-size: 20px;
      font-weight: $font-weight-normal;
      text-align: center;
      text-decoration: none;
      
      &:hover {
        background-color: $color-white !important;
        color: $color-cool-blue;
        text-decoration: none;
      }
    
      &.is-active {
        padding-right: 0em;
        background-color: $color-white !important;
        color: $color-cool-blue;
        font-weight: $font-weight-bold;
        letter-spacing: -0.5px;
      }
    }
    
    
  }
}
.tabs__container {
  padding-top: 2em;
}

.active {
  color: $color-blue-darkest;
  font-weight: $font-weight-bold;
}