/* body text */

body {
  font-family: $font-sans;
  color: $color-black-light;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-weight-normal;
}

.text--leadcopy {
  color: $color-gray;
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: $font-weight-normal;
}

.fontsize--small {
  font-size: $small-font-size;
  
  &.card-list {
    padding-left: 24px;
  }
  &.darkcard.cardlink {
    color: $color-aqua-lightest;
    text-decoration: underline;
  }
}

.fontsize--exsmall {
  clear: none;
  font-size: $exsmall-font-size;
  line-height: 1.4em;
  
  &.margin--bottom {
    display: inline-block;
    margin-bottom: 1em;
  }
}

.fontsize--large {
  font-size: $large-font-size;
}

b, strong, .fontweight--bold {
  font-weight: $font-weight-bold;
}

.fontweight--regular {
  font-weight: $font-weight-normal;
  
  &.fontstyle--italics {
    font-style: italic;
  }
}

.fontstyle--italic {
  font-style: italic;
}


/* headers */
h1 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: $color-black-light;
  font-size: $h1-font-size;
  line-height: $heading-line-height;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: $color-black;
  font-size: $h2-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: $color-black;
  font-size: $h3-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-normal;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: $color-black-light;
  font-size: $h4-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: $color-black;
  font-size: $h5-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: $color-gray;
  font-size: $h6-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
}