// Typography

$em-base:             10px;
$base-font-size:      1em !default;
$exsmall-font-size:   14px !default;
$small-font-size:     0.9em !default;
$large-font-size:     1.3em !default;
$lead-font-size:      1.3em !default;
$h1-font-size:        3em !default;
$h2-font-size:        2em !default;
$h3-font-size:        1.75em !default;
$h4-font-size:        1.5em !default;
$h5-font-size:        1.25em !default;
$h6-font-size:        1em !default;
$base-line-height:    1.5em !default;
$heading-line-height: 1.2em !default;
$lead-line-height:    1.35em !default;

$font-sans:           'Open Sans', $helvetica !default;
$font-serif:          'Bitter', $georgia !default;

// TODO these should be called font-weight-${}
$font-normal:         400 !default;
$font-bold:           700 !default;

// Color
$color-blue:                 #0071bc !default;
$color-blue-darker:          #205493 !default;
$color-blue-darkest:         #112e51 !default;

$color-aqua:                 #02bfe7 !default;
$color-aqua-dark:            #00a6d2 !default;
$color-aqua-darkest:         #046b99 !default;
$color-aqua-light:           #9bdaf1 !default;
$color-aqua-lightest:        #e1f3f8 !default;

$color-red:                  #e31c3d !default;
$color-red-dark:             #cd2026 !default;
$color-red-darkest:          #981b1e !default;
$color-red-light:            #e59393 !default;
$color-red-lightest:         #f9dede !default;

$color-white:                #ffffff !default;
$color-black:                #000000 !default;
$color-black-light:          #212121 !default;

$color-gray-dark:            #323a45 !default;
$color-gray:                 #5b616b !default;
$color-gray-medium:          #757575 !default;
$color-gray-light:           #aeb0b5 !default;
$color-gray-lighter:         #d6d7d9 !default;
$color-gray-lightest:        #f1f1f1 !default;

$color-gray-warm-dark:       #494440 !default;
$color-gray-warm-light:      #e4e2e0 !default;
$color-gray-cool-light:      #dce4ef !default;

$color-gold:                 #fdb81e !default;
$color-gold-light:           #f9c642 !default;
$color-gold-lighter:         #fad980 !default;
$color-gold-lightest:        #fff1d2 !default;

$color-green:                #2e8540 !default;
$color-green-light:          #4aa564 !default;
$color-green-lighter:        #94bfa2 !default;
$color-green-lightest:       #e7f4e4 !default;

$color-cool-blue:            #205493 !default;
$color-cool-blue-light:      #4773aa !default;
$color-cool-blue-lighter:    #8ba6ca !default;
$color-cool-blue-lightest:   #dce4ef !default;

$color-purple:               #4c2c92 !default;

// Functional colors
$color-primary:              $color-blue !default;
$color-primary-darker:       $color-blue-darker !default;
$color-primary-darkest:      $color-blue-darkest !default;

$color-primary-alt:          $color-aqua !default;
$color-primary-alt-dark:     $color-aqua-dark !default;
$color-primary-alt-darkest:  $color-aqua-darkest !default;
$color-primary-alt-light:    $color-aqua-light !default;
$color-primary-alt-lightest: $color-aqua-lightest !default;

$color-secondary:            $color-red !default;
$color-secondary-dark:       $color-red-dark !default;
$color-secondary-darkest:    $color-red-darkest !default;
$color-secondary-light:      $color-red-light !default;
$color-secondary-lightest:   $color-red-lightest !default;

$color-base:                 $color-black-light !default;
$color-focus:                $color-gray-light !default;
$color-visited:              $color-purple !default;

$color-shadow:               rgba(#000, 0.3) !default;
$color-transparent:          rgba(#000, 0) !default;



// Relative font and image file paths
$font-path:   '../fonts' !default;
$image-path:  '../img' !default;

