.alert {
  padding: 1em;
  border-radius: 4px;
  background-color: rgba(152, 27, 30, .18);
  color: #981b1e;
}
.success-message {
  background-color: #0071bc;
  color: #fff;
  
  &.fontsize--large {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}