.faq {
  display: block;
  margin-bottom: 1em;
}

.faq__answer {
  position: static;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #fff;
  
  &.w--open {
    padding-bottom: 0.5em;
  }
  
  &.fontsize--small.w--open {
    padding: 1.5em 1.5em 1em;
    border-style: none solid solid;
    border-width: 1px;
    border-color: #aeb0b5;
  }
}

.faq__dropdown {
  display: block;
  overflow: hidden;
  padding: 1.5em 3em 1.5em 1em;
  border: 1px solid #aeb0b5;
  background-image: url("http://uploads.webflow.com/5ac50737b50fc907b0e6ca47/5ad7b422253e992a9d7bcfcb_Icon_Close.svg");
  background-position: 98% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 18px;
  
  &:hover {
    background-color: #f1f1f1;
  }
  
  &.w--open {
    overflow: hidden;
    border-bottom-style: none;
    background-color: #0071bc;
    background-image: url("http://uploads.webflow.com/5ac50737b50fc907b0e6ca47/5ad7b413a1a5483971c687d0_Icon_Open.svg");
    background-size: 18px;
    color: #fff;
  }
}