@media (max-width: 767px) {
  /* typography */
  .text--leadcopy {
    font-size: 1em;
  }
  
  
  /* header */
  .header__logo--text {
    font-size: 18px;
  }
  
  /* container */
  .container {
    padding-right: 2em;
    padding-left: 2em;
    
    &.nav__container {
      padding-left: 1em;
    }
  }
  
  /* footer */
  .footer__nav--item {
    width: 100%;
    margin-bottom: 0.75em;
  }
  
  /* thumbnail */
  .thumbnail {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  
  /* tabs */
  .tabs__container {
    padding-top: 1.25em;
  }
  
  /* flex */
  .flexcard {
    width: 100%;
    margin: 2% 0%;
  }
  .flexgrid {
    display: block;
  }
}