.pagination {
  margin-top: 2em;
  text-align: center;
  
  &.alt {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #aeb0b5;
    border-bottom: 1px solid #aeb0b5;
    text-align: left;
  }
}

.pagination__number {
  display: inline-block;
  width: 32px;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  border-radius: 3px;
  color: #0071bc;
  text-align: center;
  
  &:hover {
    background-color: #f1f1f1;
    color: #5b616b;
    text-decoration: none;
  }
  
  &.pagination__number--active {
    background-color: #0071bc;
    color: #fff;
    font-weight: 700;
  }
}

.pagination__actions {
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  color: #205493;
  font-weight: 700;
}