.tabs {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 -4px 0 0 #f1f1f1;
}

.tabs__item {
  margin-right: 1.5em;
  padding: 0em 0em 1em 0px;
  background-color: transparent;
  color: #0071bc;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  &:hover {
    box-shadow: inset 0 -4px 0 0 #205493;
    color: #205493;
    text-decoration: none;
  }
  
  &.w--current {
    padding-right: 0em;
    background-color: #fff;
    box-shadow: inset 0 -4px 0 0 #205493;
    color: #205493;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.tabs__container {
  padding-top: 2em;
}

.active {
  color: #112e51;
  font-weight: 700;
}