.tag {
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.25em 1em;
  border: 1px solid #0071bc;
  border-radius: 2px;
  background-color: transparent;
  color: #0071bc;
  font-size: 14px;
  
  &:hover {
    background-color: #205493;
    color: #fff;
    text-decoration: none;
  }
}
