.layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 100%;
    width: 100%;
    padding-right: 0;
  }
  
.layout__region--first {
  padding-right: 20px;
  
  h2{
    font-size: 20px;
  }
} 

.layout__region--third {
  h2 {
    font-size: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.views-field-field-file-upload {
  .field-content {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      .file span{
        border: none;
      }
    }
  }
}  

@media (min-width: 951px) {
  .layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 67%;
    width: 73%;
    padding-right: 50px;
  }
}