html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333; }

/* stylelint-disable at-rule-empty-line-before */
@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bitter-Regular.eot");
  src: url("../fonts/Bitter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff"), url("../fonts/Bitter-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Bitter-Bold.eot");
  src: url("../fonts/Bitter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter-Bold.woff2") format("woff2"), url("../fonts/Bitter-Bold.woff") format("woff"), url("../fonts/Bitter-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Bitter;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Bitter-Italic.eot");
  src: url("../fonts/Bitter-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter-Italic.woff2") format("woff2"), url("../fonts/Bitter-Italic.woff") format("woff"), url("../fonts/Bitter-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"); }
/* body text */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #212121;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400; }

.text--leadcopy {
  color: #5b616b;
  font-size: 1.3em;
  line-height: 1.35em;
  font-weight: 400; }

.fontsize--small {
  font-size: 0.9em; }
  .fontsize--small.card-list {
    padding-left: 24px; }
  .fontsize--small.darkcard.cardlink {
    color: #e1f3f8;
    text-decoration: underline; }

.fontsize--exsmall {
  clear: none;
  font-size: 14px;
  line-height: 1.4em; }
  .fontsize--exsmall.margin--bottom {
    display: inline-block;
    margin-bottom: 1em; }

.fontsize--large {
  font-size: 1.3em; }

b, strong, .fontweight--bold {
  font-weight: 700; }

.fontweight--regular {
  font-weight: 400; }
  .fontweight--regular.fontstyle--italics {
    font-style: italic; }

.fontstyle--italic {
  font-style: italic; }

/* headers */
h1 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 300; }

h2, .paragraph--type--view .field--name-field-uswds-title {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000000;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700; }

h3 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #000000;
  font-size: 1.75em;
  line-height: 1.2em;
  font-weight: 400; }

h4 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 700; }

h5 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000000;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 700; }

h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #5b616b;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700; }

ol, ul {
  padding-left: 1.5em; }
  .popover ol:last-child, .popover ul:last-child {
    margin-bottom: 0; }

.page-header {
  margin-top: 0; }

#block-qtso-uswds-account-menu li.menu-item {
  float: left;
  list-style-type: none;
  margin-right: 10px; }

.search-block-form.usa-sr-only {
  left: 0; }

p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0; }

.region-help > .glyphicon {
  float: left;
  margin: -0.05em 0.5em 0 0; }
.region-help .block {
  overflow: hidden; }

.help-block, .control-group .help-inline {
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0; }
  .help-block:first-child, .control-group .help-inline:first-child {
    margin-top: 0; }

.view-display-id-page_month ul.js-pager__items {
  list-style-type: none; }
  .view-display-id-page_month ul.js-pager__items .pager__item--previous {
    float: left; }
  .view-display-id-page_month ul.js-pager__items .pager__item--next {
    float: right; }

.submission-map-container {
  display: table; }
  .submission-map-container a {
    display: table-cell; }

.block-entity-fieldnodefield-attributions {
  margin-top: 20px; }

.usa-search.usa-search-small .bef-exposed-form .form--inline > .form-item,
.block-views-exposed-filter-blocksearch-page-1 .bef-exposed-form .form--inline > .form-item {
  float: none; }

.form-item {
  overflow: inherit; }

.usa-grid, .usa-grid-full {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3em;
  padding-left: 3em; }

nav#navbar {
  display: flex;
  flex-flow: column nowrap; }
  nav#navbar .nav-list {
    flex-basis: 100%; }
    nav#navbar .nav-list .cat-title {
      padding: 5px;
      width: 100%;
      color: #ffffff;
      display: block;
      text-align: center; }
    nav#navbar .nav-list .drop-menu {
      width: 100%;
      background-color: #112e51;
      padding: 20px;
      z-index: 0;
      width: 100%;
      top: 0; }
      nav#navbar .nav-list .drop-menu section {
        float: left;
        margin-right: 30px;
        overflow: auto; }
      nav#navbar .nav-list .drop-menu ul {
        list-style-type: none;
        margin: 0; }
      nav#navbar .nav-list .drop-menu a {
        color: #ffffff; }
        nav#navbar .nav-list .drop-menu a:hover {
          color: #ffffff; }
        nav#navbar .nav-list .drop-menu a:visited {
          color: #ffffff; }

@media (min-width: 951px) {
  nav#navbar {
    flex-flow: row wrap;
    justify-content: flex-start; }
    nav#navbar .nav-list {
      flex-basis: 16%; }
      nav#navbar .nav-list:nth-of-type(3) {
        flex-basis: 20%; }
      nav#navbar .nav-list .cat-title:hover {
        background-color: #112e51; }
      nav#navbar .nav-list .drop-menu {
        border-top: none;
        padding: 20px;
        margin: 0 auto; }
      nav#navbar .nav-list .showDrop {
        position: absolute;
        z-index: 9999;
        left: 0; } }
h2.iam-title, .paragraph--type--view .iam-title.field--name-field-uswds-title {
  margin-top: 0; }

.card-container {
  display: block; }
  .card-container .group-list {
    background-color: #0071bc;
    margin-right: 0;
    padding: 10px 24px;
    color: #ffffff; }
    .card-container .group-list a {
      color: #ffffff; }
      .card-container .group-list a:hover, .card-container .group-list a:visited {
        color: #ffffff; }

.view-content-by-user-taxonomy .views-row {
  margin-bottom: 20px; }
.view-content-by-user-taxonomy .pager-nav {
  clear: both; }

#news {
  margin-top: 20px; }

@media (min-width: 600px) {
  .card-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .card-container .group-list {
      flex: 1;
      margin-right: 1%; }
      .card-container .group-list:last-of-type {
        margin-right: 0; } }
.layout--threecol-25-50-25 > .layout__region--second {
  flex: 0 1 100%;
  width: 100%;
  padding-right: 0; }

.layout__region--first {
  padding-right: 20px; }
  .layout__region--first h2, .layout__region--first .paragraph--type--view .field--name-field-uswds-title, .paragraph--type--view .layout__region--first .field--name-field-uswds-title {
    font-size: 20px; }

.layout__region--third h2, .layout__region--third .paragraph--type--view .field--name-field-uswds-title, .paragraph--type--view .layout__region--third .field--name-field-uswds-title {
  font-size: 2rem; }
.layout__region--third ul {
  list-style-type: none;
  padding: 0; }

.views-field-field-file-upload .field-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .views-field-field-file-upload .field-content ul .file span {
    border: none; }

@media (min-width: 951px) {
  .layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 67%;
    width: 73%;
    padding-right: 50px; } }
.paragraph--type--uswds-grid {
  padding-top: 0; }
  .paragraph--type--uswds-grid .usa-grid-full {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
    .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column {
      flex: 1;
      background-color: #0071bc;
      color: #ffffff;
      padding: 15px 0; }
      .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field {
        margin: 0 auto;
        width: 80%; }
        .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field a {
          color: #ffffff; }
          .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field a:hover, .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field a:visited {
            color: #ffffff; }
      .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field--name-field-uswds-title {
        font-weight: 700; }
      .paragraph--type--uswds-grid .usa-grid-full .paragraph--type--uswds-column div.field--name-field-view .view-qies-to-success ul {
        list-style-type: none; }

.alert {
  padding: 1em;
  border-radius: 4px;
  background-color: rgba(152, 27, 30, 0.18);
  color: #981b1e; }

.success-message {
  background-color: #0071bc;
  color: #ffffff; }
  .success-message.fontsize--large {
    padding-top: 48px;
    padding-bottom: 48px; }

.breadcrumb {
  margin-bottom: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #aeb0b5;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 0 0 0.5em 0; }
  .breadcrumb li:before {
    content: ' \2f '; }

.button {
  padding: 0.7em 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 2px;
  background-color: #0071bc;
  font-size: 16px;
  font-weight: 600; }
  .button:hover {
    background-color: #112e51;
    color: #ffffff;
    text-decoration: none; }
  .button.button--small {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .button.button--small.search__button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px; }

.button-guides {
  border-radius: 2px;
  background-color: #2bb57a; }

.button-training {
  border-radius: 2px;
  background-color: #da3c3c; }

.button-software {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #ff8d35;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #fff; }
  .button-software:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    text-decoration: none; }
  .button-software.full-width {
    width: 100%;
    padding: 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-align: center; }
    .button-software.full-width:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
      color: #f1f1f1;
      text-decoration: none; }
    .button-software.full-width.server {
      background-color: #112e51; }
    .button-software.full-width.pagelink {
      background-color: #0071bc; }
  .button-software.software {
    margin-bottom: 8px; }
    .button-software.software.full-width.server {
      background-color: #112e51; }

.buttons-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flexcard {
  width: 48%;
  margin: 1%; }

.card {
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 4px;
  background-color: #e1f3f8;
  -webkit-transition: box-shadow 508ms ease;
  transition: box-shadow 508ms ease; }
  .card:hover {
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2); }
  .card.flexcard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0%;
    margin-bottom: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease; }
    .card.flexcard:hover {
      box-shadow: 0 7px 11px -3px rgba(0, 0, 0, 0.2); }
    .card.flexcard.outline {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
      border-width: 2px;
      border-color: #3e7fde;
      background-color: #ffffff;
      -webkit-transition: box-shadow 200ms ease;
      transition: box-shadow 200ms ease; }
      .card.flexcard.outline:hover {
        box-shadow: 0 7px 20px 1px rgba(0, 0, 0, 0.2); }
      .card.flexcard.outline.guides {
        border-width: 2px;
        border-color: #2bb57a;
        text-align: left; }
      .card.flexcard.outline.software {
        border-width: 2px;
        border-color: #ff8d35; }
      .card.flexcard.outline.training {
        border-width: 2px;
        border-color: #da3c3c; }
    .card.flexcard.flex.moo {
      padding: 0em;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
    .card.flexcard.externalcard {
      background-color: #0071bc;
      color: #ffffff; }
  .card.outline {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #aeb0b5;
    background-color: transparent;
    text-align: center; }
  .card.margin-card-top {
    margin-top: 1.5em; }

.featuredcard__content {
  padding: 1.5em 2em; }

.darkcard {
  color: #ffffff; }

.cardlink--light {
  color: #205493; }

.card-subheading {
  margin-bottom: 0em;
  margin-left: 8px; }

.cmsnetbackground {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ffffff; }
  .cmsnetbackground.margin--bottomsmall {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .cmsnetbackground.margin--bottom {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.color--gray {
  color: #5b616b; }
  .color--gray.margin--small {
    margin-bottom: 0.5em; }
    .color--gray.margin--small.fontsize--small.fontstyle--italic.margin--none {
      margin-bottom: 0em; }
  .color--gray.fontstyle--italic.margin--bottom {
    margin-bottom: 1em; }

.content {
  padding-top: 2.5em;
  padding-bottom: 2em; }
  .content:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3); }
  .content.content__homepage {
    position: relative;
    z-index: 400;
    margin-top: -5em;
    padding-top: 0em; }

.content--left {
  margin-bottom: 1em;
  padding-right: 3em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.div-block {
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid #aeb0b5;
  border-bottom: 1px solid #aeb0b5; }

.div-block-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto; }

.div-block-3 {
  padding: 1.5em; }

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

p {
  margin-bottom: 1em;
  line-height: 1.5em; }

a {
  color: #0071bc;
  text-decoration: none; }

a:hover {
  color: #205493;
  text-decoration: underline; }

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px; }

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px; }

li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.2em; }

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400; }

.hr {
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  background-color: #aeb0b5; }

.faq {
  display: block;
  margin-bottom: 1em; }

.faq__answer {
  position: static;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #ffffff; }
  .faq__answer.w--open {
    padding-bottom: 0.5em; }
  .faq__answer.fontsize--small.w--open {
    padding: 1.5em 1.5em 1em;
    border-style: none solid solid;
    border-width: 1px;
    border-color: #aeb0b5; }

.faq__dropdown {
  display: block;
  overflow: hidden;
  padding: 1.5em 3em 1.5em 1em;
  border: 1px solid #aeb0b5;
  background-image: url("../assets/img/Icon_Close.svg");
  background-position: 98% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 18px; }
  .faq__dropdown:hover {
    background-color: #f1f1f1; }
  .faq__dropdown.w--open {
    overflow: hidden;
    border-bottom-style: none;
    background-color: #0071bc;
    background-image: url("../assets/img/Icon_Open.svg");
    background-size: 18px;
    color: #ffffff; }

.featured-content {
  width: 30.3%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow 508ms ease;
  transition: box-shadow 508ms ease; }
  .featured-content:hover {
    box-shadow: 0 15px 20px 4px rgba(0, 0, 0, 0.2); }

.feeditem {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #aeb0b5; }
  .feeditem.guide-and-manuals {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

.flexgrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1%;
  margin-left: -1%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .flex.flex--thumbnails {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .flex.flex--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .flex.flex--center.margin--bottomsmall {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .flex.flex--right {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex.flex--left {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.mobileonly.flex {
  display: none; }

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 3px solid #0071bc; }

.footer__nav {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #aeb0b5;
  border-bottom: 1px solid #aeb0b5; }

.footer__nav--item {
  margin-right: 2em;
  color: #212121;
  font-weight: 700;
  text-decoration: none; }
  .footer__nav--item:hover {
    text-decoration: underline; }

.loginform {
  margin-top: 1em;
  margin-bottom: 0px;
  padding: 1.5em 2em 2em;
  border-radius: 6px;
  background-color: #f1f1f1; }

.textfield {
  height: 45px;
  margin-bottom: 1em;
  border: 1px solid #aeb0b5;
  font-size: 18px; }
  .textfield:hover {
    border-color: #0071bc; }
  .textfield:focus {
    box-shadow: inset 0 2px 7px -3px #5b616b; }
  .textfield::-webkit-input-placeholder {
    color: #5b616b; }
  .textfield:-ms-input-placeholder {
    color: #5b616b; }
  .textfield::placeholder {
    color: #5b616b; }
  .textfield.margin--none {
    margin-bottom: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; }

.textfield--required {
  color: #981b1e; }

.header {
  position: relative;
  padding-bottom: 60px; }

.header__display {
  margin-bottom: 0.5em;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 1em;
  font-weight: 700;
  text-shadow: 0 1px 6px rgba(17, 46, 81, 0.59); }

.header__logo {
  margin-right: 1em; }
  .header__logo.w--current {
    margin-right: 1em; }

.header__logo--text {
  margin-bottom: 0em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #212121;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none; }
  .header__logo--text.w--current {
    color: #212121;
    font-size: 32px;
    text-decoration: none; }

.header__link {
  display: inline-block;
  text-decoration: none; }
  .header__link:hover {
    color: #212121;
    text-decoration: underline; }
  .header__link.margin--none.w--current {
    color: #205493; }
  .header__link.margin--none.w--current:hover {
    color: #0071bc; }

.header__midsection {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-color: #ffffff; }

.header-title {
  margin-bottom: 0em; }

.header-icon {
  margin-right: 24px; }

.page-header {
  margin-bottom: 0em; }
  .page-header.training-header {
    margin-bottom: 0.5em; }
  .page-header.usertype {
    margin-bottom: 0.5em; }

/* image */
.image {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto; }

.image-2 {
  display: block;
  height: 100%; }

/* hero */
.hero-banner {
  display: none;
  height: 16em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-image: url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.heroimage {
  height: 300px;
  padding-top: 6em;
  background-image: -webkit-linear-gradient(270deg, rgba(17, 46, 81, 0.29), rgba(17, 46, 81, 0.29)), url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-image: linear-gradient(180deg, rgba(17, 46, 81, 0.29), rgba(17, 46, 81, 0.29)), url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover; }

/* thumbnail */
.thumbnail {
  display: block;
  margin-right: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.thumbnail__image {
  width: 150px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: url("../assets/img/5ac6626978b77e74ec2c433c_iStock_000075734267_Large.png");
  background-position: 0px 0px;
  background-size: cover; }

/* icon */
.icon {
  right: -7px;
  margin-right: 0.75em;
  float: left;
  -webkit-filter: saturate(0%);
  filter: saturate(0%); }

.icon-external {
  margin-left: 8px;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3em;
  padding-left: 3em; }

/* row */
.row {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .row.state-agency-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .row.formrow.margin--bottomsmall {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-guides-and-manuals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  margin-bottom: 0.5em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

/* columns */
.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.two-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* margin */
.margin--rightsmall {
  margin-right: 0.5em; }

.margin--top {
  margin-top: 1em; }

.margin--none {
  margin-bottom: 0em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.margin--bottomsmall {
  margin-bottom: 1em; }

/* padding */
.padding--top {
  padding-top: 0.5em; }

.readme-link {
  margin-top: 8px; }

.guide-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2em;
  margin-bottom: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.externallinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sitenav__navitem {
  position: static;
  float: left; }

.nav__dropdown--item {
  padding: 1em 1.25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer; }
  .nav__dropdown--item:hover {
    background-color: #112e51;
    color: #ffffff; }
  .nav__dropdown--item:visited {
    color: #ffffff; }
  .nav__dropdown--item.w--open {
    background-color: #112e51; }
  .nav__dropdown--item.float--right.nav__login {
    padding-left: 2.5em;
    background-image: url("../assets/img/Icon_Login.svg");
    background-position: 15px 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    font-weight: 700; }
    .nav__dropdown--item.float--right.nav__login:hover {
      background-color: #112e51; }

.nav-menu {
  position: relative;
  display: block;
  width: 100%;
  float: left; }

.navbar {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: #205493; }

.nav__dropdown.w--open {
  left: 0px;
  top: 60px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21); }

.nav__dropdown--col {
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .nav__dropdown--col.border--none {
    border-left-style: none; }

.nav__dropdown--icon {
  right: -6px;
  display: none;
  color: #edd018; }

/* subnav */
.subnav--link {
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  color: #5b616b;
  line-height: 1.25em;
  text-decoration: none; }
  .subnav--link:hover {
    box-shadow: inset 3px 0 0 0 #0071bc;
    color: #212121;
    text-decoration: none; }

.subnav__listitem {
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  box-shadow: inset 1px 0 0 0 #aeb0b5; }

.pagination {
  margin-top: 2em;
  text-align: center; }
  .pagination.alt {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #aeb0b5;
    border-bottom: 1px solid #aeb0b5;
    text-align: left; }

.pagination__number {
  display: inline-block;
  width: 32px;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  border-radius: 3px;
  color: #0071bc;
  text-align: center; }
  .pagination__number:hover {
    background-color: #f1f1f1;
    color: #5b616b;
    text-decoration: none; }
  .pagination__number.pagination__number--active {
    background-color: #0071bc;
    color: #ffffff;
    font-weight: 700; }

.pagination__actions {
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  color: #205493;
  font-weight: 700; }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.25em; }
  .search.mobileonly {
    display: none; }
  .search.search__results {
    margin-top: 0em;
    font-style: normal; }

.search__field {
  width: 75%;
  height: 45px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #aeb0b5;
  font-size: 18px; }
  .search__field:focus {
    border-color: #205493;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.19); }
  .search__field::-webkit-input-placeholder {
    color: rgba(33, 33, 33, 0.5); }
  .search__field:-ms-input-placeholder {
    color: rgba(33, 33, 33, 0.5); }
  .search__field::placeholder {
    color: rgba(33, 33, 33, 0.5); }

.search__button {
  padding: 0.65em 1.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #0071bc;
  font-weight: 700; }
  .search__button:hover {
    background-color: #112e51; }

.search__results {
  margin-top: 1em;
  color: #5b616b;
  font-size: 14px;
  font-style: italic;
  text-align: right; }

.software-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.software-list-link {
  margin-left: 16px; }

.software-list-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.software-detail-column-left {
  padding-left: 0px; }

.filename {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

ul.tabs {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 -4px 0 0 #f1f1f1; }
  ul.tabs li {
    margin-right: 1.5em; }
    ul.tabs li:hover {
      box-shadow: inset 0 -4px 0 0 #205493; }
    ul.tabs li.is-active {
      background-color: #ffffff !important;
      box-shadow: inset 0 -4px 0 0 #205493; }
    ul.tabs li a {
      padding: 0em 0em 1em 0px;
      background-color: transparent;
      color: #0071bc;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      text-decoration: none; }
      ul.tabs li a:hover {
        background-color: #ffffff !important;
        color: #205493;
        text-decoration: none; }
      ul.tabs li a.is-active {
        padding-right: 0em;
        background-color: #ffffff !important;
        color: #205493;
        font-weight: 700;
        letter-spacing: -0.5px; }

.tabs__container {
  padding-top: 2em; }

.active {
  color: #112e51;
  font-weight: 700; }

.tag {
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.25em 1em;
  border: 1px solid #0071bc;
  border-radius: 2px;
  background-color: transparent;
  color: #0071bc;
  font-size: 14px; }
  .tag:hover {
    background-color: #205493;
    color: #ffffff;
    text-decoration: none; }

/* body text */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #212121;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400; }

.text--leadcopy {
  color: #5b616b;
  font-size: 1.3em;
  line-height: 1.35em;
  font-weight: 400; }

.fontsize--small {
  font-size: 0.9em; }
  .fontsize--small.card-list {
    padding-left: 24px; }
  .fontsize--small.darkcard.cardlink {
    color: #e1f3f8;
    text-decoration: underline; }

.fontsize--exsmall {
  clear: none;
  font-size: 14px;
  line-height: 1.4em; }
  .fontsize--exsmall.margin--bottom {
    display: inline-block;
    margin-bottom: 1em; }

.fontsize--large {
  font-size: 1.3em; }

b, strong, .fontweight--bold {
  font-weight: 700; }

.fontweight--regular {
  font-weight: 400; }
  .fontweight--regular.fontstyle--italics {
    font-style: italic; }

.fontstyle--italic {
  font-style: italic; }

/* headers */
h1 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 300; }

h2, .paragraph--type--view .field--name-field-uswds-title {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000000;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700; }

h3 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #000000;
  font-size: 1.75em;
  line-height: 1.2em;
  font-weight: 400; }

h4 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #212121;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 700; }

h5 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000000;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 700; }

h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: #5b616b;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700; }

@media (max-width: 991px) {
  /* search */
  .search {
    margin-top: 0em;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(17, 46, 81, 0.5); }
    .search.mobileonly {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .search.search.search__results {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 0em;
      border-bottom-style: none; }

  /* nav */
  .nav__dropdown--item {
    padding-left: 2em;
    float: none;
    border-bottom: 1px solid rgba(17, 46, 81, 0.35); }
    .nav__dropdown--item:hover {
      background-color: #112e51; }
    .nav__dropdown--item.w--open {
      font-weight: 700; }
    .nav__dropdown--item.float--right {
      float: none; }
    .nav__dropdown--item.float--right.nav__login {
      padding-left: 2em;
      background-position: 96% 50%; }

  .nav-menu {
    position: absolute;
    z-index: 200;
    overflow: scroll;
    max-height: 100vh;
    background-color: #205493;
    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.49); }

  .navbar {
    position: relative;
    z-index: 1000;
    background-color: #ffffff; }

  .nav_menu-button {
    padding: 0.45em;
    float: right;
    color: #205493; }
    .nav_menu-button:hover {
      background-color: #205493;
      color: #ffffff; }
    .nav_menu-button.w--open {
      background-color: #205493; }

  .navigation-icons {
    font-size: 46px; }

  .sitenav__navitem {
    float: none; }

  .nav__dropdown {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #ffffff; }
    .nav__dropdown.w--open {
      display: block;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

  .nav__dropdown--col {
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em 0em 1em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-top: 1px solid #f1f1f1;
    border-left-style: none; }
    .nav__dropdown--col.border--none {
      padding-top: 0em;
      border-style: none; }

  .nav__dropdown--icon {
    right: 5px;
    display: block;
    color: #ffffff;
    font-size: 24px; }

  /*featured */
  .featured-content {
    width: 100%;
    min-height: auto;
    margin-bottom: 1em; }

  /* flex */
  .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  /* header */
  .header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 5000;
    padding-bottom: 0px; }

  .header__logo--text {
    line-height: 28px; }
    .header__logo--text.w--current {
      font-size: 24px; }

  .header__midsection {
    display: none; }

  /* containiner */
  .container {
    padding-right: 2em;
    padding-left: 2em; }

  .container.nav__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: inset 0 -3px 0 0 #205493; }

  /* list */
  .list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .list-item-2 {
    width: 50%;
    padding-right: 2em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; }

  /* mobileonly */
  .mobileonly.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  /*content */
  .content {
    padding-top: 5.5em; }

  .content--left {
    margin-bottom: 2em;
    padding-right: 0em; }

  /*footer */
  .footer__nav {
    margin-top: 1em; }

  .footer__nav--item {
    display: inline-block;
    width: 50%;
    margin-right: 0em;
    margin-bottom: 0.5em;
    padding-left: 10px; }

  /* thumbnail */
  .thumbnail {
    margin-bottom: 1em; }

  .thumbnail__image {
    width: 100%;
    height: 150px; }

  /* tabs */
  .tabs {
    box-shadow: inset 4px 0 0 0 #f1f1f1; }

  .tabs__item {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    text-align: left; }
    .tabs__item:hover {
      box-shadow: inset 4px 0 0 0 #205493; }
    .tabs__item.w--current {
      box-shadow: inset 4px 0 0 0 rgba(0, 0, 0, 0.5); }

  /* card */
  .card.flexcard.outline {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; }
  .card.flexcard.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .card.flexcard.flex.moo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
@media (max-width: 767px) {
  /* typography */
  .text--leadcopy {
    font-size: 1em; }

  /* header */
  .header__logo--text {
    font-size: 18px; }

  /* container */
  .container {
    padding-right: 2em;
    padding-left: 2em; }
    .container.nav__container {
      padding-left: 1em; }

  /* footer */
  .footer__nav--item {
    width: 100%;
    margin-bottom: 0.75em; }

  /* thumbnail */
  .thumbnail {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; }

  /* tabs */
  .tabs__container {
    padding-top: 1.25em; }

  /* flex */
  .flexcard {
    width: 100%;
    margin: 2% 0%; }

  .flexgrid {
    display: block; } }
@media (max-width: 479px) {
  /* search */
  .search.mobileonly {
    padding-right: 1em;
    padding-left: 1em; }

  /* nav */
  .nav__dropdown--item {
    margin-right: 0px;
    padding-right: 1em;
    padding-left: 1em;
    float: none; }
    .nav__dropdown--item.float--right.nav__login {
      padding-left: 1em; }

  .nav-menu {
    display: block; }

  .nav__dropdown--col {
    margin-right: 1em;
    margin-left: 1em; }

  /* typography */
  .text--leadcopy {
    font-size: 1em; }

  /* flex */
  .flex.flex--thumbnails {
    display: block; }

  /* header */
  .header__logo--text {
    display: none; }
    .header__logo--text.w--current {
      display: none; }

  .page-header {
    font-size: 2em; }

  /* container */
  .container {
    padding-right: 1em;
    padding-left: 1em; }

  /* list */
  .list {
    width: 100%; }

  .list-item-2 {
    width: 100%; }

  /* content */
  .content {
    padding-top: 5em; }

  /* footer */
  .footer__nav--item {
    width: 100%; }

  /* thumbnail */
  .thumbnail {
    margin-right: 0em;
    margin-bottom: 1em; }

  /* pagination */
  .pagination__actions {
    width: 32px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.45em 0.5em; }

  .hideonmobile {
    display: none; }

  /* software */
  .software-list-column {
    margin-bottom: 1em; }

  .hero-banner {
    margin-top: 1em;
    margin-bottom: 1.5em; } }

/*# sourceMappingURL=style.css.map */
